<div class="page-header" style="text-align:center">
    <h1>Telefonkönyv</h1>
</div>

<p>Bejelentkezés után megtekintheted a már felvett telefonszámokat, szerkesztheted a meglévőket és újakat adhatsz hozzá.</p>